/* No seu arquivo CSS ou definições de estilo */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,600,800|Signika+Negative:400,600,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
 background-color: #003B8E;
 scroll-behavior: smooth;
}



body {
  font-family: 'Signika Negative', sans-serif;

}

h1, h2, h3, .titulo {
  font-family: 'Big Shoulders Text', cursive;
}
